/* general style */
* {
    border: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #33475b;
}

.container {
    width: 80%;
    margin: auto;
}

.clearfix:after{ 
    content: "";
    display: table;
    clear: both;
}

.insertion-button {
    padding: 5% 10%;
    font-size: 20px;
}

/* /general style */

/*interaction navbar style*/
.interaction-nav {
    background-color: #f4f9fd;
    height: 8vh;
    position: relative;
    border-bottom: 1px #7e8d98 solid;
}

.interaction-nav .container .contact{
    width: 70%;
    line-height: 8vh;
    float: left;
}

.interaction-nav .container .login-nav{
    width: 30%;
    line-height: 8vh;
    float: left;
    text-align: right;
}

i {
    padding: 5px;
}

.interaction-nav .container .contact p {
    display: inline-block;
}

.interaction-nav .container .contact p span {
    margin: 20px;
}

.login-nav i {
    color: #0aa8c0;
    padding: 20px;
}

.transparent-btn {
    background-color: #fafcfe;
    padding: 2% 5%;
    color: #fe775a;
    border: #fe775a 1px solid;
    border-radius: 10px;
    margin: 10px;
}

.orange-btn {
    background-color: #fe775a;
    margin-bottom: 3%;
    color: #fafcfe;
    border-radius: 10px;
    margin: 10px;
}

.login-nav button.orange-btn{
    padding: 2% 5%;
}

/*/interaction navbar style*/

/*navigation navbar*/

.navigation-nav {
    height: 8vh;
    position: relative;
}

.logo {
    float: left;
    width: 10%;
    height: 8vh;
}

.logo img{
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translateY(-50%);
}

.information-nav {
    float: left;
    width: 90%;
    height: 8vh;
    text-align: right;
}

.information-nav ul {
    list-style: none;
    line-height: 8vh;
}

.information-nav li{
    display: inline-block;
    padding: 0% 1%;
}

/*/navigation navbar*/

/* background header style */

.header-background {
    background-image: url(../img/jumbotron.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 68%;
    position: relative;
    border-bottom: #33475b 3px solid;
}

.header-to-fix {
    position: absolute;
    top: 10%;
}

.header-background .header-text {
    width: 50%;
}

.header-background h1 {
    font-size: 60px;
}

.header-background p {
    
    padding: 20px 0px;
    line-height: 40px;
}

.bigger {
    font-size: 20px;
    margin-left: 0%;
}

/* /background header style */

/* just a green grass */

.green-grass {
    height: 8vh;
    background-color: #afebe4;
    border-bottom: #33475b 3px solid;
}

/* /just a green grass */

/* introduction main style */

main {
    background-color: #f4f9fd;
    text-align: center;
}

.main-introduction img {
    width: 30%;
    padding: 3%;
}

.main-introduction h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.main-introduction p {
    width: 60%;
    margin: auto;
    line-height: 30px;
}

/* /introduction main style */

/* main insertion style */

.main-insertion {
    background-color: white;
    position: relative;
    margin: 4% 10% 4% 10%;
    box-shadow: 0 0 10px #e6ecf1;
    border-radius: 10px;
}

.insertion-img {
    float: left;
    width: 30%;
    margin-bottom: 5%;
}

.insertion-img img {
    width: 70%;
    margin: 10%;
    padding: 10%;
}

.insertion-text {
    float: left;
    width: 70%;
    text-align: left;
}

.insertion-text h2 {
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 3%;
}

.insertion-text p {
    line-height: 50px;
    display: inline-block;
}

.insertion-text i {
    color: #fe775a;
}

.insertion-text h3 {
    display: inline-block;
}

.insertion-text hr{
    border: solid 1px #899397;
    display: inline-block;
    width: 70%;
    margin-left: 5%;
}

.separation {
    margin: 2% 0%;
}

/* /main insertion style */

/* secondary main insertion style */

.second-insertion {
    position: relative;
    margin-bottom: 7vh;
}

.insertion-feature {
    float: left;
    width: 30%;
    background-color: white;
    box-shadow: 0 0 10px #e6ecf1;
    padding-bottom: 2vh;
    border-radius: 10px;
}

.spacer {
    float: left;
    margin: 2.5%;
}

.insertion-feature img{
    width: 250x;
    height: 250px;
    margin: auto;
    padding: 5% 0% 5% 0%;
}

.insertion-feature h2 {
    font-size: 30px;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.insertion-feature h3 {
    margin-bottom: 5%;
}
.insertion-feature .insertion-details{
    line-height: 40px;
    width: 70%;
    margin: auto;
}

.insertion-feature hr{
    border: solid 1px #899397;
    width: 70%;
    display: inline-block;
    margin: 6vh 1vw 4vh 1vw;
}

.single-line-ftr {
    text-align: left;
    margin-left: 15%;
}

.single-line-ftr i {
    color: #fe775a;
}

.single-line-ftr p{
    display: inline-block;
}

.insertion-feature button {
    margin-top: 6%;
}
/* /secondary main insertion style */

/* gradient-section-with-statistics */

.gradient-section-with-statistics {
    background-image: linear-gradient(to right,#00a9b9,#00bba8);
    color: white;
}

.gradient-section-with-statistics h2 {
    font-size: 30px;
    color: white;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.gradient-section-with-statistics p {
    width: 80%;
    margin: auto;
    color: white;
    padding-bottom: 4vh;
    line-height: 3vh;
}

.gradient-section-with-statistics table{
    border-color: white 1px solid;
}

table{
    width: 100%;
    margin-bottom: 5vh;
    border-collapse: collapse;
}

td {
    border: 1px white solid;
    width: 25%;
    height: 10vh;
    vertical-align: top;
}

.first-row td{
    border-top: none;
}

.first-row td:first-child{
    border-left: none;
}

.first-row td:last-child{
    border-right: none;
}

.second-row td{
    border-bottom: none;
}

.second-row td:first-child{
    border-left: none;
}

.second-row td:last-child{
    border-right: none;
}

.table-of-stats img{
    width: 200px;
    height: 50px;
    margin-top: 1vh;
}

.table-of-stats h3 {
    color: white;
    font-size: 50px;
    margin-top: 1vh;
}

.table-of-stats span {
    color: white;
    line-height: 5vh;
}
/* /gradient-section-with-statistics */

/* partner-info-section */

.partner-info-section {
    position: relative;
    margin-top: 8vh;
}

.data-section {
    float: left;
    width: 30%;
    margin-top: 2vh;
}

.partner-half h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.partner-half p{
    line-height: 3vh;
    text-align: left;
    margin-left: 35%;
}

.partner-img {
    float: left;
    width: 70%;
    padding: 0% 10% 0% 10%;
    margin-bottom: 5%;
}

.partner-img img{
    width: 20%;
    height: 20%;
    vertical-align: middle;
    margin: 0px 20px;
}

.parter-ingaging-section{
    position: relative;
}

.ingage-text {
    width: 50%;
    float: left;
    text-align: left;
    padding-right: 15%;
}

.ingage-img {
    float: left;
    width: 50%;
}

.ingage-img img{
    height: 40vh;
}

.ingage-text h2 {
    font-size: 50px;
    margin-bottom: 5vh;
}

.ingage-text p {
    line-height: 3vh;
    margin-bottom: 5vh;
}

.ingage-text button {
    margin-bottom: 5vh;
}

/* /partner-info-section */

/* footer index style */

footer {
    background-color: #32495b;
}

.footer-index h3{
    color: white;
    position: relative;
    line-height: 10vh;
    font-size: 25px;
}

.footer-index li{
    color: white;
    line-height: 3vh;
}

.index-section {
    float: left;
    width: 25%;
    text-align: left;
}

.index-section ul {
    list-style: none;
    margin-left: -8%;
}

.social i {
    color: white;
    width: 8%;
    height: 10%;
    margin: 1% 1% 1% 0%;
}

.footer-btn {
    padding: 3%;
    border-radius: 6px;
    margin: 2% 0%;
}

.language {
    text-align: center;
}

.language ul {
    list-style: none;
    margin-left: -8%;
}

.language li{
    color: white;
    display: inline-block;
    line-height: 3vh;
    padding: 0% 1%;
}

.footer-closing-section hr {
    border: 1px solid white;
    margin-top: 2vh;
}

.legal-section {
    position: relative;
}

.footer-logo {
    float: left;
    width: 50%;
    padding: 3vh;
}

.legal {
    float: left;
    width: 50%;
    text-align: right;
}

.legal p {
    color: #cbd6e2;
    display: inline;
    line-height: 10vh;
    padding: 0% 3%;
}

.footer-logo p {
    color: white;
}

.footer-logo i {
    color: white;
}

/* /footer index style */